body{
    margin: 0;
    padding: 0;
	background-color: #edf1fd;
}

ul{
	list-style:none;
}

a{
	text-decoration:none;
}

#main{
	padding:30px 50px;
	position:relative;
	width:100%;
	height: 100vh;
	box-sizing: border-box;
	background-size: 1350px;
	background-position: right bottom;
	background-repeat: no-repeat;
	background-image: url("./images/bg.png");
	background-color: #edf1fd;
}

nav{
	display:flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 2px;
	font-family: calibri;
	position: fixed;
	top: 0;
	left: 0;
	width:100%;
	box-sizing: border-box;
	padding: 10px 50px;
	background-color:#F4F7FF;
	box-shadow:2px 2px 12px rgba(0,0,0,0.05); 
	z-index: 1;
}


.menu{
	display: flex;
}

.menu li a{
	padding: 10px 15px;
	color:#6c707c;
	font-size: 16px;	
}


.logo{
	font-size: 26px;
	font-weight: bold;
	color:#292929;
	font-family:Poppins;
}

.toggle{
	display: none;
}

.active a, .menu li a:hover{
	background-color:#292929;
	color:#FFF!important;
	font-weight: bold;
	transition: all ease 0.4s;
}

.name{
	font-family: calibri;
	width: 500px;
	position: absolute;
	left: 20%;
	top: 50%;
	transform: translate(-20%,-50%);
	z-index: 1;
}

.name p:nth-child(1), .name .details{
	color:#6c707c;
	font-size: 20px;
}

.name h1{
	font-family:Poppins;
	font-size: 40px;
	margin:0px;
	letter-spacing: 3px;
	color:#292929;
}

.hi-btn{
	width:200px;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 3px;
	background-color: #292929;
	color:#FFFFFF;
	box-shadow: 2px 5px 6px rgba(0,0,0,0.2);
}

.hi-btn:hover{
	background-color: #131313;
	transition: all ease 0.5s;
}

#about{
	width:100%;
	height: 100vh;
	background-color:#161616;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 50px 5% 0px 5%;
	position: relative;
}

.about-text{
	font-family: calibri;
	width: 50%;
}

.about-text h1{
	font-size: 5rem;
	color:#17d1ac;
}

.about-text h2{
	font-size: 3rem;
	color:#FFFFFF;
	font-weight: 400;
}

.about-text h1,h2{
	margin: 0px;
	padding: 0px;
}

.about-text p{
	font-size: 1.2rem;
	color:rgba(255,255,255,0.90);
}

.cv-btn{
	width: 200px;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	outline: none;
	border-radius: 3px;
	color: #292929;;
	background-color:#17d1ac;
}

.cv-btn:hover{
	background-color: #FFFFFF;
	transition: all ease 0.3s;
}

#portfolio{
	width:100%;
	box-sizing: border-box;
	font-family: calibri;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 60px 2% 20px 2%;
}

.p-headind{
	font-family: calibri;
	font-size: 1.7rem;
	text-align: center;
	color:#FFFFFF;
	font-weight: 400;
	padding: 10px 20px;
	background-color: #292929;
	letter-spacing: 2px;
	border-radius: 3px;
	box-shadow: 2px 2px 20px rgba(0,0,0,0.1);	
}

.p-box{
	background-color: #1F1F1F;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 2px 2px 13px rgba(0,0,0,0.3);
	position: relative;
}

.p-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.p-container{
	width: 90%;
	height:70vh;
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
	grid-template-rows: auto auto;
	grid-gap: 10px;
}

.overlay-text{
	font-family: calibri;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: rgba(23,209,172,0.80);
	display:none;
}

.overlay-text h1,p{
	color: #FFFFFF;
}

.overlay-text h1{
	font-size: 2.2rem;
	margin: 0px;
	padding: 0px;
	letter-spacing: 2px;	
}

.overlay-text p{
	font-size: 1.2rem;
	margin: 0px;
}

.p-box:hover .overlay-text{
	display: flex;
}

#footer{
	width: 90vw;
	height: 40vh;
	margin: 0px 5vw 0px 5vw;
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;
	text-align: center;
	background-color: #F4F7FF;
    border-radius: 30px 30px 0px 0px;
	/* box-sizing: border-box; */
	box-shadow:2px 0px 20px rgba(0,0,0,0.4); 
}

.f-top{
	color:#1E1E1E;
	font-family: calibri;
	margin: 10px;
	padding: 20px;
	letter-spacing: 2px;
	border-bottom: 2px solid #292929;	
}

.f-top h1{
    font-size: 2rem;
}

.f-top p{
    font-size: 1.2rem;
	color:#1E1E1E;
}

.f-top a{
    align-items: center;
}

.f-top button{
	color:#FFFFFF;
	font-size: 1rem;
	font-family: calibri;
	width:150px;
	height: 40px;
	margin: 10px;
	border-radius: 3px;
	background-color: #292929;
	border: none;
	outline: none;
	box-shadow: 2px 5px 6px rgba(0,0,0,0.2);
}

.f-top button:hover{
	background-color: #131313;
	transition: all ease 0.5s;
}

.f-bottom{
    font-size: 1rem;
    color:#1E1E1E;
    font-family: calibri;
    margin: 10px;
    padding: 5px;
    letter-spacing: 2px;
    /* border-bottom: 2px solid #1E1E1E;	 */
}

@media(max-width:1190px){
	#main{
		background-size: 1350px !important;	
	}
	
    .name{
		left: 10%;
		top: 50%;
		transform: translate(-10%,-50%);
	}
	
    .about-model img{
		height:400px;
	}
}

@media(max-width:970px){
	#main{
		background-image: none !important;
	}
	
    .name{
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
	}
	
    .about-model{
		display: none;
	}
	
    #about{
		justify-content: center;
		padding-top: 0px;
	}
	
    .about-text{
		width: 90%;
	}
	
    .about-text h1{
		font-size:4rem;
	}
	
	.p-container{
		width:100%;
	}
}

@media(max-width:900px){
	.toggle{
		display:block;
	}
	
    .toggle:before{
	    content:'\f0c9';
	    font-family: fontAwesome;
	    line-height: 0px;
		margin-left:-30px;
    }
	
    .toggle.active:before{
	    content:'\f00d' !important;
	}
	
    nav{
		padding:10px 30px;
	}

	nav ul{
		position:absolute;	
		width: 100%;
		height:auto;
		box-sizing:border-box;
		background-color:#0F0F0F;
		top: 50px;
		left: 0;
		transition: 0.5s;
		overflow: hidden;
		display: none !important;
		border:3px solid #1F1F1F;
	}
	
	nav ul li a{
		border-bottom: 1px solid rgba(255,255,255,0.10) ;
		color:#ffffff !important;
		width: 100%;
		height: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0px !important;
		padding: 0px !important;
	}
	nav ul{
		padding:0px;
		margin:0px;
	}
 
	.active-menu {
		display: block !important;
	}
	
	nav ul li a:hover{
		background-color:rgba(27,29,32,0.15);
 
	}
	
	.p-container{
		grid-template-columns:1fr 1fr;
	    grid-template-rows:auto;
	    grid-gap: 10px;
		height: auto;
	}
}
 
@media(max-width:600px){
	.p-container{
		grid-template-columns:1fr ;
		grid-template-rows: auto;
    }
	
    .name{
		width:60%;
	}
	
}
